body{
    
    font-size: 20px;
    text-align: center;
    background-color: khaki;
    margin-left: 550px;
    padding-top: 230px;
}
a
{
    text-decoration: none;
}
.square
{
    width:450px;
    height: 200px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-radius: 20px;
}
button:hover
{
    
    background-color: green;
}
button
{
    border-radius: 20px;
    
}
