body{

font-size: 30px;
text-align: center;
background-image: url("bg\ image\ all.jpg");
background-repeat: no-repeat;
background-size: cover;
margin-top: 150px;
overflow-x: hidden;
}

a
{
    text-decoration: none;
    color: black;
}
.fs{
    font-size: 20px;
}
.square
{
  width: 500px;
  height: 170px;
  background-color: black;
  color: white;
  margin-left: 500px;
  border-radius: 50px;
}
button
{
    color: white;
    background-color: black;
    border-radius: 30px;
}
button:hover
{
    transform: scale(1.2);
    background-color: green;
}


